LEVEN-main/Downstreams/SCR/SCR-Experiment/features_Lawformer_BERT_test_0.tar
LEVEN-main/Downstreams/SCR/SCR-Experiment/features_train_BERT_test_1.tar
LEVEN-main/Downstreams/SCR/SCR-Experiment/output/model/Lawformer/0.pkl
