[train] 
epoch = 5
batch_size = 16

reader_num = 1

optimizer = adam
learning_rate = 1e-3
weight_decay = 0
step_size = 1
lr_multiplier = 1

PLM_vocab = bert-base-chinese
PLM_path = bert-base-chinese
query_len = 100
cand_len = 409
grad_accumulate=4

[eval] #eval parameters
batch_size = 32

reader_num = 1

[data] #data parameters

fold=1

#do_test=True
train_dataset_type = pairwise
train_formatter_type = triplet

valid_dataset_type = pairwise
valid_formatter_type = triplet

test_dataset_type = pairwise
test_formatter_type = triplet

feature_path=/content/drive/MyDrive/LEVEN-main/Downstreams/SCR/SCR-Experiment/features

result_path = ./result/RankNet/BERT 
[model] 
model_name = RankNet
use_event = True                   

[output] #output parameters
output_time = 1
test_time = 1

model_path = ./output/model_LEVEN
model_name = Bert

tensorboard_path = ./output/tensorboard

output_function = out1
tqdm_ncols = 150
